#a {
    height: 300px;
    width: 300px;
    background-color: blueviolet;
    margin-bottom: 20px;
    margin-left: 500px;
    border: solid;
    border-radius: 10px;
    border-width: 12px;
    border-width: 12px 34px;
    border-color: aqua;
    border-width: 12px 34px 6px 50px;
    float:left;
}

#b {
    height: 300px;
    width: 300px;
    background-color: red;
}

#c {
    height: 500px;
    width: 300px;
    background-color: aquamarine;
    margin-top: 15px;
    margin-left: 500px;
    padding-top: 50px;
    padding-left: 100px;
    float:left;
}

#d {
    height: 200px;
    width: 300px;
    background-color: brown;
    margin-bottom: 30px;
    padding-left: 100px;
    padding-top: 50px;
    border: solid;
    border-width: 60px;
    border-width: 12px 30px 60px 120px;
    border-left-color: blanchedalmond;
    border-right-color: aqua;
}

#e {
    height: 200px;
    width: 300px;
    background-color: purple;

}
#f {
    height: 200px;
    width: 300px;
    background-color:grey;
    float:left;
    

}


.violet {
    background-color: violet !important;
}

.round {
    border-radius: 23px 45px;
    border-radius: 23px 45px 12 px 50px;
}

.rotate {
    transform: rotate(35deg);
}

.norotate {
    transform: norotate(0deg);
}
.heading{
    text-align: center;
}
.box{
    display:bolck;
    float:left;
    width:20%;
}